# Recommendation Engine
Online Challenge: Build A Recommendation Engine

## 1. Set Credentials for IBM cloud

In [49]:
# The code was removed by Watson Studio for sharing.

## 2. Load Data

### 2.1 Train data

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df_train = spark.read\
    .format('org.apache.spark.sql.execution.datasources.csv.CSVFileFormat')\
    .option('header', 'true')\
    .load(cos.url('train.csv', 'recommendationengine-donotdelete-pr-vknxjbiqabtc3s'))

df_train.createOrReplaceTempView('df_train')
df_train.show()

+----------+---------+--------+------------+---------+-------+---------+
|CustomerID|InvoiceNo|Quantity| InvoiceDate|UnitPrice|Country|StockCode|
+----------+---------+--------+------------+---------+-------+---------+
|     27270|    27270|       7|1/12/10 8:26|     2.55|     PX|  85123AY|
|     27270|    27270|       7|1/12/10 8:26|     3.39|     PX|   71053R|
|     27270|    27270|       9|1/12/10 8:26|     2.75|     PX|  84406BH|
|     27270|    27270|       7|1/12/10 8:26|     3.39|     PX|  84029GV|
|     27270|    27270|       7|1/12/10 8:26|     3.39|     PX|  84029EX|
|     27270|    27270|       2|1/12/10 8:26|     7.65|     PX|   22752G|
|     27270|    27270|       7|1/12/10 8:26|     4.25|     PX|   21730R|
|    427266|   427266|       3|1/12/10 8:35|     5.95|     PX|   21756Q|
|    462735|   462735|      28|1/12/10 8:45|     3.75|     RA|   22728B|
|    462735|   462735|      28|1/12/10 8:45|     3.75|     RA|   22727B|
|    462735|   462735|      14|1/12/10 8:45|     3.75|     RA|   22726C|
|    462735|   462735|      14|1/12/10 8:45|     0.85|     RA|   21724T|
|    462735|   462735|      28|1/12/10 8:45|     0.65|     RA|   21883V|
|    462735|   462735|      57|1/12/10 8:45|     0.85|     RA|   10002F|
|    462735|   462735|      28|1/12/10 8:45|     1.25|     RA|   21791H|
|    462735|   462735|      21|1/12/10 8:45|     2.95|     RA|   21035O|
|    462735|   462735|      28|1/12/10 8:45|     2.95|     RA|   22326L|
|    462735|   462735|      28|1/12/10 8:45|     1.95|     RA|   22629C|
|    462735|   462735|      28|1/12/10 8:45|     1.95|     RA|   22659F|
|    462735|   462735|      28|1/12/10 8:45|     1.95|     RA|   22631M|
+----------+---------+--------+------------+---------+-------+---------+
only showing top 20 rows

### 2.2 Test data

In [4]:
df_test = spark.read\
    .format('org.apache.spark.sql.execution.datasources.csv.CSVFileFormat')\
    .option('header', 'true')\
    .load(cos.url('test.csv', 'recommendationengine-donotdelete-pr-vknxjbiqabtc3s'))

df_test.createOrReplaceTempView('df_test')
df_test.show()

+-------+----------+------------+---------+--------+---------+---------+
|Country|CustomerID| InvoiceDate|InvoiceNo|Quantity|StockCode|UnitPrice|
+-------+----------+------------+---------+--------+---------+---------+
|     PX|    127269|1/12/10 8:28|   127269|       7|   22633V|     1.85|
|     PX|    227268|1/12/10 8:34|   227268|      38|   84879M|     1.69|
|     PX|    227268|1/12/10 8:34|   227268|       7|   22748P|      2.1|
|     PX|    227268|1/12/10 8:34|   227268|       9|   22749K|     3.75|
|     PX|    227268|1/12/10 8:34|   227268|       2|   22622G|     9.95|
|     PX|    227268|1/12/10 8:34|   227268|       4|   48187N|     7.95|
|     PX|    327267|1/12/10 8:34|   327267|       3|   22914W|     4.95|
|     PX|    162738|1/12/10 9:02|   162738|       7|  85123AY|     2.55|
|     PX|    162738|1/12/10 9:02|   162738|       7|   71053R|     3.39|
|     PX|    162738|1/12/10 9:02|   162738|       9|  84406BH|     2.75|
|     PX|    162738|1/12/10 9:02|   162738|       7|   37370Z|     1.06|
|     PX|    162738|1/12/10 9:02|   162738|       7|   21871Y|     1.06|
|     PX|    162738|1/12/10 9:02|   162738|       7|   21071P|     1.06|
|     PX|    162738|1/12/10 9:02|   162738|       2|   82483P|     4.95|
|     PX|    162738|1/12/10 9:02|   162738|       2|   22752G|     7.65|
|     PX|    162738|1/12/10 9:02|   162738|       7|   21730R|     4.25|
|     PX|    252747|1/12/10 9:45|   252747|       9|   21912V|     3.75|
|     PX|    252747|1/12/10 9:45|   252747|      60|   22381J|     1.85|
|     PX|    252747|1/12/10 9:45|   252747|       9|   22798I|     2.95|
|     PX|    252747|1/12/10 9:45|   252747|       4|   22726C|     3.75|
+-------+----------+------------+---------+--------+---------+---------+
only showing top 20 rows

## 3. Exploration

### 3.1  Total row

In [5]:
from pyspark.sql.functions import *
print('Total row of train data :',df_train.select(count('CustomerID')).head()[0])
#df_train.select(count('CustomerID')).show()
print('Total row of test data :', df_test.select(count('CustomerID')).head()[0])
#df_test.select(count('CustomerID')).show()

Total row of train data : 330575
Total row of test data : 103097

### 3.2 Total Customer

In [6]:
# Find number of customer in train & test data
df1 = spark.sql('SELECT CustomerID FROM df_train GROUP BY CustomerID')
df2 = spark.sql('SELECT CustomerID FROM df_test GROUP BY CustomerID')
print('Number of customer in train data :' , df1.select(count('CustomerID')).head()[0]) 
#df1.select(count('CustomerID')).show()
print('Number of customer in test data :' , df2.select(count('CustomerID')).head()[0])
#df2.select(count('CustomerID')).show()

Number of customer in train data : 972
Number of customer in test data : 628

### 3.4 StockCode

In [7]:
# Find number of StockCode
df = spark.sql('SELECT StockCode, COUNT(StockCode) FROM df_train GROUP BY StockCode ORDER BY COUNT(StockCode) DESC')
print('Number of StockCode :' , df.select(count('StockCode')).head()[0]) 
df.show(50)

Number of StockCode : 3810
+---------+----------------+
|StockCode|count(StockCode)|
+---------+----------------+
|  85123AY|            1399|
|   22423U|            1344|
|  85099BJ|            1320|
|   47566Y|            1049|
|   20725N|            1001|
|   22720A|             938|
|   22197J|             906|
|   84879M|             876|
|   21212D|             866|
|   22383K|             831|
|   20727V|             820|
|   22457C|             805|
|   22469S|             788|
|   23203B|             775|
|   22386V|             769|
|   22086O|             763|
|   22960K|             757|
|   20728Z|             750|
|   22961C|             747|
|   23298Q|             745|
|   21931F|             741|
|   22382I|             740|
|   22411U|             736|
|   22666I|             728|
|   23209X|             715|
|   22384W|             689|
|   22699D|             688|
|   23206T|             679|
|   22727B|             674|
|   22993E|             673|
|   20726C|             667|
|   22178V|             660|
|   22697A|             657|
|   82482D|             656|
|   20724F|             651|
|   23084M|             644|
|   22077P|             632|
|   22726C|             624|
|   23199M|             618|
|   22139Q|             616|
|   21080R|             600|
|   22470E|             593|
|  85099CQ|             591|
|   21034O|             590|
|   22138G|             583|
|   84946F|             577|
|   23201S|             576|
|   21790Y|             574|
|   22629C|             570|
|   23301G|             570|
+---------+----------------+
only showing top 50 rows

## 4. Create New Data  to Define Group of Customer

#### Select frist 30 popular item

In [8]:
# List of Customer
df_ID = spark.sql('SELECT CustomerID FROM df_train GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "85123AY" by CustomerID
df1 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f1 FROM df_train WHERE StockCode = "85123AY" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22423U" by CustomerID
df2 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f2 FROM df_train WHERE StockCode = "22423U" GROUP BY CustomerID ORDER BY CustomerID ASC')
 
# Purchase Product "85099BJ" by CustomerID
df3 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f3 FROM df_train WHERE StockCode = "85099BJ" GROUP BY CustomerID ORDER BY CustomerID ASC')
 
# Purchase Product "47566Y" by CustomerID
df4 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f4 FROM df_train WHERE StockCode = "47566Y" GROUP BY CustomerID ORDER BY CustomerID ASC')
 
# Purchase Product "20725N" by CustomerID
df5 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f5 FROM df_train WHERE StockCode = "20725N" GROUP BY CustomerID ORDER BY CustomerID ASC')
 
# Purchase Product "22720A" by CustomerID
df6 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f6 FROM df_train WHERE StockCode = "22720A" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22197J" by CustomerID
df7 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f7 FROM df_train WHERE StockCode = "22197J" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "84879M" by CustomerID
df8 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f8 FROM df_train WHERE StockCode = "84879M" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "21212D" by CustomerID
df9 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f9 FROM df_train WHERE StockCode = "21212D" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22383K" by CustomerID
df10 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f10 FROM df_train WHERE StockCode = "22383K" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "20727V" by CustomerID
df11 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f11 FROM df_train WHERE StockCode = "20727V" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22457C" by CustomerID
df12 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f12 FROM df_train WHERE StockCode = "22457C" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22469S" by CustomerID
df13 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f13 FROM df_train WHERE StockCode = "22469S" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "23203B" by CustomerID
df14 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f14 FROM df_train WHERE StockCode = "23203B" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22386V" by CustomerID
df15 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f15 FROM df_train WHERE StockCode = "22386V" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22086O" by CustomerID
df16 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f16 FROM df_train WHERE StockCode = "22086O" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22960K" by CustomerID
df17 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f17 FROM df_train WHERE StockCode = "22960K" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "20728Z" by CustomerID
df18 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f18 FROM df_train WHERE StockCode = "20728Z" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22961C" by CustomerID
df19 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f19 FROM df_train WHERE StockCode = "22961C" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "23298Q" by CustomerID
df20 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f20 FROM df_train WHERE StockCode = "23298Q" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "21931F" by CustomerID
df21 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f21 FROM df_train WHERE StockCode = "21931F" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22382I" by CustomerID
df22 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f22 FROM df_train WHERE StockCode = "22382I" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22411U" by CustomerID
df23 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f23 FROM df_train WHERE StockCode = "22411U" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22666I" by CustomerID
df24 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f24 FROM df_train WHERE StockCode = "22666I" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "23209X" by CustomerID
df25 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f25 FROM df_train WHERE StockCode = "23209X" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22384W" by CustomerID
df26 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f26 FROM df_train WHERE StockCode = "22384W" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22699D" by CustomerID
df27 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f27 FROM df_train WHERE StockCode = "22699D" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "23206T" by CustomerID
df28 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f28 FROM df_train WHERE StockCode = "23206T" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22727B" by CustomerID
df29 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f29 FROM df_train WHERE StockCode = "22727B" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22993E" by CustomerID
df30 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f30 FROM df_train WHERE StockCode = "22993E" GROUP BY CustomerID ORDER BY CustomerID ASC')

In [11]:
new_df = df_ID.join(df1, 'CustomerID', 'left_outer')
new_df = new_df.join(df2, 'CustomerID', 'left_outer')
new_df = new_df.join(df3, 'CustomerID', 'left_outer')
new_df = new_df.join(df4, 'CustomerID', 'left_outer')
new_df = new_df.join(df5, 'CustomerID', 'left_outer')
new_df = new_df.join(df6, 'CustomerID', 'left_outer')
new_df = new_df.join(df7, 'CustomerID', 'left_outer')
new_df = new_df.join(df8, 'CustomerID', 'left_outer')
new_df = new_df.join(df9, 'CustomerID', 'left_outer')
new_df = new_df.join(df10, 'CustomerID', 'left_outer')
new_df = new_df.join(df11, 'CustomerID', 'left_outer')
new_df = new_df.join(df12, 'CustomerID', 'left_outer')
new_df = new_df.join(df13, 'CustomerID', 'left_outer')
new_df = new_df.join(df14, 'CustomerID', 'left_outer')
new_df = new_df.join(df15, 'CustomerID', 'left_outer')
new_df = new_df.join(df16, 'CustomerID', 'left_outer')
new_df = new_df.join(df17, 'CustomerID', 'left_outer')
new_df = new_df.join(df18, 'CustomerID', 'left_outer')
new_df = new_df.join(df19, 'CustomerID', 'left_outer')
new_df = new_df.join(df20, 'CustomerID', 'left_outer')
new_df = new_df.join(df21, 'CustomerID', 'left_outer')
new_df = new_df.join(df22, 'CustomerID', 'left_outer')
new_df = new_df.join(df23, 'CustomerID', 'left_outer')
new_df = new_df.join(df24, 'CustomerID', 'left_outer')
new_df = new_df.join(df25, 'CustomerID', 'left_outer')
new_df = new_df.join(df26, 'CustomerID', 'left_outer')
new_df = new_df.join(df27, 'CustomerID', 'left_outer')
new_df = new_df.join(df28, 'CustomerID', 'left_outer')
new_df = new_df.join(df29, 'CustomerID', 'left_outer')
new_df = new_df.join(df30, 'CustomerID', 'left_outer')

# Replace null with 0
new_df = new_df.na.fill(0)
print('Check Number of CustomerID and Varaible')
print('Number of customer ;', new_df.select(count('CustomerID')).head()[0])

Check Number of CustomerID and Varaible
Number of customer ; 972

## 5. Clustering

In [12]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import Normalizer
from pyspark.ml.clustering import KMeans
from pyspark.ml.clustering import KMeansModel
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import PCA

In [13]:
assembler = VectorAssembler(inputCols=['f1','f2','f3','f4','f5','f6','f7','f8','f9','f10',\
                                       'f11','f12','f13','f14','f15','f16','f17','f18','f19','f20',\
                                       'f21','f22','f23','f24','f25','f26','f27','f28','f29','f30'],\
                            outputCol="features")
normalizer = Normalizer(inputCol='features' , outputCol='features_norm', p=1.0)

### 5.1 Find K use PCA

In [208]:
# These line use to find PCA
pca = PCA(k=3, inputCol= 'features', outputCol="pcaFeatures")
pipeline_PCA = Pipeline(stages=[assembler, normalizer, pca])
model_PCA = pipeline_PCA.fit(new_df)

result_PCA = model_PCA.transform(new_df).select("pcaFeatures")
result_PCA.show(truncate=False)

### 5.2 K-mean

In [14]:
# setK = 
kmeans = KMeans(maxIter=20, predictionCol="cluster").setK(30).setSeed(1)  # Initialize model
pipeline_Kmean = Pipeline(stages=[assembler, normalizer, kmeans])
model_Kmean = pipeline_Kmean.fit(new_df)

result_Kmean = model_Kmean.transform(new_df)
result_Kmean.groupby('cluster').count().show(30)

+-------+-----+
|cluster|count|
+-------+-----+
|     28|   16|
|     27|  163|
|     26|    2|
|     12|    2|
|     22|    9|
|      1|  569|
|     13|    1|
|     16|    1|
|      6|    1|
|      3|    1|
|     20|   32|
|      5|    1|
|     19|    3|
|     15|   11|
|     17|   19|
|      9|    2|
|      4|    4|
|      8|   19|
|     23|   65|
|      7|    7|
|     10|    2|
|     25|   26|
|     24|    2|
|     29|    4|
|     21|    1|
|     11|    1|
|     14|    1|
|      2|    3|
|      0|    1|
|     18|    3|
+-------+-----+

## 6. Save New train
new train is train with cluster (save to data asset)

In [43]:
# 1. Need to transform data frame 
import pandas as pd
df_cluster = result_Kmean['CustomerID', 'cluster']
new_train = df_train.join(df_cluster, 'CustomerID', 'left_outer')
new_train = new_train.toPandas()

In [47]:
# The code was removed by Watson Studio for sharing.

{'asset_id': '3e96d903-9d81-4e4f-a208-b89879e457d0',
 'bucket_name': 'recommendationengine-donotdelete-pr-vknxjbiqabtc3s',
 'file_name': 'new_train.csv',
 'message': 'File saved to project storage.'}

## 7. Make New Test

### 7.1 Load test data

In [50]:
df_test = spark.read\
    .format('org.apache.spark.sql.execution.datasources.csv.CSVFileFormat')\
    .option('header', 'true')\
    .load(cos.url('test.csv', 'recommendationengine-donotdelete-pr-vknxjbiqabtc3s'))

df_test.createOrReplaceTempView('df_test')

### 7.2 Transform data

In [51]:
# List of Customer
df_ID = spark.sql('SELECT CustomerID FROM df_test GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "85123AY" by CustomerID
df1 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f1 FROM df_test WHERE StockCode = "85123AY" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22423U" by CustomerID
df2 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f2 FROM df_test WHERE StockCode = "22423U" GROUP BY CustomerID ORDER BY CustomerID ASC')
 
# Purchase Product "85099BJ" by CustomerID
df3 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f3 FROM df_test WHERE StockCode = "85099BJ" GROUP BY CustomerID ORDER BY CustomerID ASC')
 
# Purchase Product "47566Y" by CustomerID
df4 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f4 FROM df_test WHERE StockCode = "47566Y" GROUP BY CustomerID ORDER BY CustomerID ASC')
 
# Purchase Product "20725N" by CustomerID
df5 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f5 FROM df_test WHERE StockCode = "20725N" GROUP BY CustomerID ORDER BY CustomerID ASC')
 
# Purchase Product "22720A" by CustomerID
df6 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f6 FROM df_test WHERE StockCode = "22720A" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22197J" by CustomerID
df7 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f7 FROM df_test WHERE StockCode = "22197J" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "84879M" by CustomerID
df8 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f8 FROM df_test WHERE StockCode = "84879M" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "21212D" by CustomerID
df9 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f9 FROM df_test WHERE StockCode = "21212D" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22383K" by CustomerID
df10 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f10 FROM df_test WHERE StockCode = "22383K" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "20727V" by CustomerID
df11 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f11 FROM df_test WHERE StockCode = "20727V" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22457C" by CustomerID
df12 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f12 FROM df_test WHERE StockCode = "22457C" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22469S" by CustomerID
df13 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f13 FROM df_test WHERE StockCode = "22469S" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "23203B" by CustomerID
df14 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f14 FROM df_test WHERE StockCode = "23203B" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22386V" by CustomerID
df15 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f15 FROM df_test WHERE StockCode = "22386V" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22086O" by CustomerID
df16 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f16 FROM df_test WHERE StockCode = "22086O" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22960K" by CustomerID
df17 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f17 FROM df_test WHERE StockCode = "22960K" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "20728Z" by CustomerID
df18 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f18 FROM df_test WHERE StockCode = "20728Z" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22961C" by CustomerID
df19 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f19 FROM df_test WHERE StockCode = "22961C" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "23298Q" by CustomerID
df20 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f20 FROM df_test WHERE StockCode = "23298Q" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "21931F" by CustomerID
df21 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f21 FROM df_test WHERE StockCode = "21931F" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22382I" by CustomerID
df22 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f22 FROM df_test WHERE StockCode = "22382I" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22411U" by CustomerID
df23 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f23 FROM df_test WHERE StockCode = "22411U" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22666I" by CustomerID
df24 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f24 FROM df_test WHERE StockCode = "22666I" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "23209X" by CustomerID
df25 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f25 FROM df_test WHERE StockCode = "23209X" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22384W" by CustomerID
df26 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f26 FROM df_test WHERE StockCode = "22384W" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22699D" by CustomerID
df27 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f27 FROM df_test WHERE StockCode = "22699D" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "23206T" by CustomerID
df28 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f28 FROM df_test WHERE StockCode = "23206T" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22727B" by CustomerID
df29 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f29 FROM df_test WHERE StockCode = "22727B" GROUP BY CustomerID ORDER BY CustomerID ASC')

# Purchase Product "22993E" by CustomerID
df30 = spark.sql('SELECT CustomerID, SUM(Quantity) AS f30 FROM df_test WHERE StockCode = "22993E" GROUP BY CustomerID ORDER BY CustomerID ASC')

In [52]:
new_df = df_ID.join(df1, 'CustomerID', 'left_outer')
new_df = new_df.join(df2, 'CustomerID', 'left_outer')
new_df = new_df.join(df3, 'CustomerID', 'left_outer')
new_df = new_df.join(df4, 'CustomerID', 'left_outer')
new_df = new_df.join(df5, 'CustomerID', 'left_outer')
new_df = new_df.join(df6, 'CustomerID', 'left_outer')
new_df = new_df.join(df7, 'CustomerID', 'left_outer')
new_df = new_df.join(df8, 'CustomerID', 'left_outer')
new_df = new_df.join(df9, 'CustomerID', 'left_outer')
new_df = new_df.join(df10, 'CustomerID', 'left_outer')
new_df = new_df.join(df11, 'CustomerID', 'left_outer')
new_df = new_df.join(df12, 'CustomerID', 'left_outer')
new_df = new_df.join(df13, 'CustomerID', 'left_outer')
new_df = new_df.join(df14, 'CustomerID', 'left_outer')
new_df = new_df.join(df15, 'CustomerID', 'left_outer')
new_df = new_df.join(df16, 'CustomerID', 'left_outer')
new_df = new_df.join(df17, 'CustomerID', 'left_outer')
new_df = new_df.join(df18, 'CustomerID', 'left_outer')
new_df = new_df.join(df19, 'CustomerID', 'left_outer')
new_df = new_df.join(df20, 'CustomerID', 'left_outer')
new_df = new_df.join(df21, 'CustomerID', 'left_outer')
new_df = new_df.join(df22, 'CustomerID', 'left_outer')
new_df = new_df.join(df23, 'CustomerID', 'left_outer')
new_df = new_df.join(df24, 'CustomerID', 'left_outer')
new_df = new_df.join(df25, 'CustomerID', 'left_outer')
new_df = new_df.join(df26, 'CustomerID', 'left_outer')
new_df = new_df.join(df27, 'CustomerID', 'left_outer')
new_df = new_df.join(df28, 'CustomerID', 'left_outer')
new_df = new_df.join(df29, 'CustomerID', 'left_outer')
new_df = new_df.join(df30, 'CustomerID', 'left_outer')

# Replace null with 0
new_df = new_df.na.fill(0)
print('Check Number of CustomerID and Varaible')
print('Number of customer ;', new_df.select(count('CustomerID')).head()[0])

Check Number of CustomerID and Varaible
Number of customer ; 628

### 7.3 Clustering

In [53]:
result_Kmean = model_Kmean.transform(new_df)
result_Kmean.groupby('cluster').count().show(30)

+-------+-----+
|cluster|count|
+-------+-----+
|     28|    7|
|     27|   48|
|     12|    1|
|     22|    7|
|      1|  492|
|      6|    1|
|     20|   16|
|     17|    6|
|      8|    2|
|     23|   30|
|      7|    4|
|     10|    1|
|     25|    6|
|     14|    1|
|      2|    1|
|      0|    3|
|     18|    2|
+-------+-----+

### 7.4 Save New Test

In [55]:
# 1. Need to transform data frame 
import pandas as pd
df_cluster = result_Kmean['CustomerID', 'cluster']
new_test = df_test.join(df_cluster, 'CustomerID', 'left_outer')
new_test = new_test.toPandas()

In [56]:
# The code was removed by Watson Studio for sharing.

{'asset_id': '72e84155-caf5-4754-9504-ae4632cce35b',
 'bucket_name': 'recommendationengine-donotdelete-pr-vknxjbiqabtc3s',
 'file_name': 'new_test.csv',
 'message': 'File saved to project storage.'}

## 8. Make Recommend Product for each Cluster

In [15]:
result_Kmean

DataFrame[CustomerID: string, f1: double, f2: double, f3: double, f4: double, f5: double, f6: double, f7: double, f8: double, f9: double, f10: double, f11: double, f12: double, f13: double, f14: double, f15: double, f16: double, f17: double, f18: double, f19: double, f20: double, f21: double, f22: double, f23: double, f24: double, f25: double, f26: double, f27: double, f28: double, f29: double, f30: double, features: vector, features_norm: vector, cluster: int]

In [23]:
df_cluster = result_Kmean['CustomerID', 'cluster']

In [24]:
df_train_1 = df_train.join(df_cluster, 'CustomerID', 'left_outer')

In [26]:
df_train_1.show(50)

+----------+---------+--------+--------------+---------+-------+---------+-------+
|CustomerID|InvoiceNo|Quantity|   InvoiceDate|UnitPrice|Country|StockCode|cluster|
+----------+---------+--------+--------------+---------+-------+---------+-------+
|    147348|   147348|       9| 3/12/10 14:30|     1.65|     GJ|   22331U|     27|
|    147348|   147348|      14| 3/12/10 14:30|      2.1|     GJ|   22865Y|     27|
|    147348|   147348|       4| 3/12/10 14:30|      8.5|     GJ|   22171T|     27|
|    147348|   147348|       4| 3/12/10 14:30|     5.95|     GJ|   22926R|     27|
|    147348|   147348|       3| 3/12/10 14:30|     4.95|     GJ|   22914W|     27|
|    147348|   147348|      14| 3/12/10 14:30|     1.69|     GJ|  84849DL|     27|
|    147348|   147348|       7| 3/12/10 14:30|     2.95|     GJ|   22445C|     27|
|    147348|   147348|      12| 3/12/10 14:30|     0.85|     GJ|   16016H|     27|
|    147348|   147348|      -1|  6/1/11 18:08|    10.95|     PX|   21843C|     27|
|    147348|   147348|      -4|  6/1/11 18:08|     2.95|     PX|   22699D|     27|
|    147348|   147348|      -1|  6/1/11 18:08|     3.25|     PX|   71477B|     27|
|    147348|   147348|      -1|  6/1/11 18:08|     2.95|     PX|   22457C|     27|
|    147348|   147348|       4|18/01/11 14:29|     5.79|     PX|   22111I|     27|
|    147348|   147348|       1|18/01/11 14:29|    12.46|     PX|   22111I|     27|
|    147348|   147348|       8|18/01/11 14:29|     5.79|     PX|   22112V|     27|
|    147348|   147348|       7|18/01/11 14:29|     6.63|     PX|   22326L|     27|
|    147348|   147348|       3|18/01/11 14:29|     6.63|     PX|   22327P|     27|
|    147348|   147348|       2|18/01/11 14:29|     4.13|     PX|   22328M|     27|
|    147348|   147348|      93|18/01/11 14:29|     2.46|     PX|   22355U|     27|
|    147348|   147348|      21|18/01/11 14:29|     2.46|     PX|   22356T|     27|
|    147348|   147348|       2|18/01/11 14:29|     4.96|     PX|   22384W|     27|
|    147348|   147348|       7|18/01/11 14:29|     4.13|     PX|   22411U|     27|
|    147348|   147348|       4|18/01/11 14:29|     5.79|     PX|   22725X|     27|
|    147348|   147348|       1|18/01/11 14:29|     5.79|     PX|   22729W|     27|
|    147348|   147348|       2|18/01/11 14:29|     5.79|     PX|   22734C|     27|
|    147348|   147348|       1|18/01/11 14:29|     4.96|     PX|   22834J|     27|
|    147348|   147348|       1|18/01/11 14:29|     7.46|     PX|   22835R|     27|
|    147348|   147348|       3|18/01/11 14:29|     5.79|     PX|   47580T|     27|
|    147348|   147348|       1|18/01/11 14:29|    12.46|     PX|   48187N|     27|
|    147348|   147348|       2|18/01/11 14:29|     8.29|     PX|  84029GV|     27|
|    147348|   147348|       2|18/01/11 14:29|     1.63|     PX|   20675E|     27|
|    147348|   147348|       1|18/01/11 14:29|     1.63|     PX|   20676O|     27|
|    147348|   147348|       3|18/01/11 14:29|     1.63|     PX|   20677D|     27|
|    147348|   147348|       2|18/01/11 14:29|    16.63|     PX|   20685H|     27|
|    147348|   147348|       7|18/01/11 14:29|     3.29|     PX|   20718A|     27|
|    147348|   147348|      32|18/01/11 14:29|     2.46|     PX|   20719E|     27|
|    147348|   147348|      19|18/01/11 14:29|     2.46|     PX|   20723U|     27|
|    147348|   147348|      44|18/01/11 14:29|     2.46|     PX|   20724F|     27|
|    147348|   147348|      14|18/01/11 14:29|     4.96|     PX|   20726C|     27|
|    147348|   147348|       3|18/01/11 14:29|     4.96|     PX|   20727V|     27|
|    147348|   147348|       4|18/01/11 14:29|     4.13|     PX|   20728Z|     27|
|    147348|   147348|       4|18/01/11 14:29|     1.63|     PX|   20734Z|     27|
|    147348|   147348|       3|18/01/11 14:29|     2.46|     PX|   21078I|     27|
|    147348|   147348|       1|18/01/11 14:29|     2.46|     PX|   21080R|     27|
|    147348|   147348|      13|18/01/11 14:29|     1.25|     PX|   21215Q|     27|
|    147348|   147348|       2|18/01/11 14:29|     1.63|     PX|   21238G|     27|
|    147348|   147348|       2|18/01/11 14:29|     1.63|     PX|   21239K|     27|
|    147348|   147348|       1|18/01/11 14:29|     1.63|     PX|   21240N|     27|
|    147348|   147348|       4|18/01/11 14:29|     3.29|     PX|   21244H|     27|
|    147348|   147348|       3|18/01/11 14:29|     2.46|     PX|   21327L|     27|
+----------+---------+--------+--------------+---------+-------+---------+-------+
only showing top 50 rows

In [27]:
df_train_1.select(count('CustomerID')).show()

+-----------------+
|count(CustomerID)|
+-----------------+
|           330575|
+-----------------+

In [30]:
df_train_1.createOrReplaceTempView('df_train_1')

In [33]:
df_train_1

DataFrame[CustomerID: string, InvoiceNo: string, Quantity: string, InvoiceDate: string, UnitPrice: string, Country: string, StockCode: string, cluster: int]

In [41]:
cluster = '1'
recommend = spark.sql('SELECT StockCode, SUM(Quantity) AS cluster0 FROM df_train_1 WHERE cluster = '+ cluster + ' GROUP BY StockCode ORDER BY SUM(Quantity) DESC')
recommend.show()

+---------+--------+
|StockCode|cluster0|
+---------+--------+
|   84077K| 11532.0|
|   16014F|  7964.0|
|   22492E|  6546.0|
|   15036Z|  6481.0|
|   22616B|  5326.0|
|   17003M|  5148.0|
|   22178V|  4771.0|
|   84879M|  4710.0|
|   21703M|  4568.0|
|   23084M|  4383.0|
|   84946F|  4362.0|
|   21790Y|  4128.0|
|   21212D|  4082.0|
|   22086O|  3974.0|
|   84945I|  3947.0|
|   84347V|  3901.0|
|   22065D|  3631.0|
|  85123AY|  3600.0|
|   21915K|  3475.0|
|   21977R|  3468.0|
+---------+--------+
only showing top 20 rows

In [41]:
StockCode_list = df.select('StockCode').collect()

In [132]:
StockCode_list[0].StockCode

'85123AY'

In [135]:
a= [row.StockCode for row in StockCode_list]

In [136]:
a

['85123AY',
 '22423U',
 '85099BJ',
 '47566Y',
 '20725N',
 '22720A',
 '22197J',
 '84879M',
 '21212D',
 '22383K',
 '20727V',
 '22457C',
 '22469S',
 '23203B',
 '22386V',
 '22086O',
 '22960K',
 '20728Z',
 '22961C',
 '23298Q',
 '21931F',
 '22382I',
 '22411U',
 '22666I',
 '23209X',
 '22384W',
 '22699D',
 '23206T',
 '22727B',
 '22993E',
 '20726C',
 '22178V',
 '22697A',
 '82482D',
 '20724F',
 '23084M',
 '22077P',
 '22726C',
 '23199M',
 '22139Q',
 '21080R',
 '22470E',
 '85099CQ',
 '21034O',
 '22138G',
 '84946F',
 '23201S',
 '21790Y',
 '23301G',
 '22629C',
 '23245W',
 '21929W',
 '20712E',
 '22355U',
 '21232B',
 '23202Z',
 '20914Q',
 '20719E',
 '22112V',
 '21977R',
 '22722E',
 '22630B',
 '82494LP',
 '85099FC',
 '22910D',
 '21731V',
 '21181K',
 '84991R',
 '21928E',
 '23355Z',
 '22090X',
 '22698C',
 '22111I',
 '21754X',
 '21175V',
 '22558H',
 '21733F',
 '23207R',
 '22728B',
 '84978X',
 '22356T',
 '23300F',
 '22379G',
 '20723U',
 '23344R',
 '22326L',
 '22624O',
 '21930O',
 '22659F',
 '22467G',
 '22662G',
 '22554P',
 '21166I',
 '22966E',
 '20685H',
 '82484O',
 '20713F',
 '22907C',
 '85152E',
 '22385P',
 '23208E',
 '21213V',
 '21915K',
 '22909Z',
 '84378P',
 '23284M',
 '79321V',
 '21755A',
 '22114V',
 '23321O',
 '21485W',
 '82583N',
 '22952P',
 '20972O',
 '23307D',
 '22865Y',
 '84380W',
 '22551F',
 '22621P',
 '22835R',
 '21559P',
 '22969Z',
 '82580N',
 '21914B',
 '84992D',
 '23200Y',
 '21791H',
 '82486S',
 '22776E',
 '48138T',
 '84755J',
 '23204B',
 '84692Z',
 '21975B',
 '22557Z',
 '21889K',
 '22083G',
 '48194E',
 '22367K',
 '22113T',
 '20718A',
 '22144E',
 '23322J',
 '82483P',
 '21843C',
 '22328M',
 '22556N',
 '48187N',
 '22730Z',
 '22866X',
 '22625P',
 '22553Q',
 '84970SL',
 '23293D',
 '22900U',
 '84077K',
 '23240L',
 '21314Q',
 '20711L',
 '22219N',
 '22867O',
 '85066U',
 '21479J',
 '22577B',
 '21936G',
 '20971S',
 '21231K',
 '22149E',
 '23343M',
 '22578A',
 '22766P',
 '84836J',
 '21481J',
 '22555O',
 '22427Q',
 '22029R',
 '84375E',
 '84596BQ',
 '22173N',
 '23356F',
 '22568A',
 '21174F',
 '82600H',
 '84988Y',
 '21935J',
 '22616B',
 '22189I',
 '15036Z',
 '23263V',
 '22456H',
 '21430A',
 '23198Y',
 '22417M',
 '22998M',
 '21094A',
 '22595D',
 '21523L',
 '21155Z',
 '22633V',
 '22424F',
 '22141S',
 '21621T',
 '22652D',
 '22147L',
 '22667K',
 '22804V',
 '22620B',
 '21669G',
 '22352Z',
 '22381J',
 '22749K',
 '23243L',
 '23205F',
 '35970L',
 '22196G',
 '22193B',
 '21154F',
 '20676O',
 '22501Q',
 '22502M',
 '22561Z',
 '21172S',
 '22084R',
 '22619G',
 '22150K',
 '22507V',
 '84029GV',
 '85150Z',
 '21668N',
 '21932M',
 '84997DC',
 '21169G',
 '22759Z',
 '84029EX',
 '22191G',
 '84347V',
 '21216B',
 '21524I',
 '15056ND',
 '21165F',
 '22988D',
 '21891R',
 '21210C',
 '22729W',
 '22489J',
 '22951B',
 '84970LF',
 '22617A',
 '22748P',
 '21908X',
 '22725X',
 '23295P',
 '82581P',
 '85049EP',
 '21892U',
 '22661W',
 '22734C',
 '22663L',
 '23182N',
 '21672A',
 '22692J',
 '21218O',
 '22750S',
 '21992O',
 '21933N',
 '22771L',
 '23309L',
 '47591DY',
 '47590BU',
 '23493H',
 '22488P',
 '22745M',
 '23319Q',
 '21484N',
 '84596FA',
 '21985C',
 '22487O',
 '23328X',
 '20717I',
 '22371T',
 '23173W',
 '22983O',
 '22844J',
 '82582N',
 '21993R',
 '22082A',
 '23103F',
 '71459J',
 '23170S',
 '23313G',
 '22646J',
 '22413V',
 '22585G',
 '22694S',
 '21934D',
 '21912V',
 '23439A',
 '22429T',
 '22908G',
 '47590AN',
 '21558V',
 '22499N',
 '48184N',
 '22996P',
 '21976M',
 '21035O',
 '22632O',
 '22171T',
 '21238G',
 '22570W',
 '23108J',
 '21673M',
 '22212M',
 '21086B',
 '21670S',
 '23296Z',
 '23308G',
 '22847W',
 '22142B',
 '22560W',
 '22979P',
 '22631M',
 '23318Z',
 '21137F',
 '22795L',
 '22989L',
 '20749K',
 '21156K',
 '22297H',
 '22665A',
 '21770E',
 '47566BG',
 '22992G',
 '22041A',
 '21871Y',
 '21671K',
 '22492E',
 '22898W',
 '20750C',
 '84997BG',
 '85053B',
 '48185J',
 '22962X',
 '21121C',
 '21990F',
 '21888F',
 '21136P',
 '21535E',
 '21326V',
 '22627E',
 '84947R',
 '21982Y',
 '22195J',
 '22579W',
 '23256O',
 '22834J',
 '22645V',
 '85014BD',
 '22169U',
 '23171H',
 '23168M',
 '23294M',
 '22549T',
 '21900A',
 '23077P',
 '22752G',
 '22607L',
 '22964E',
 '22037V',
 '84945I',
 '82552M',
 '20975Y',
 '21217W',
 '22940N',
 '21533B',
 '22348L',
 '22464B',
 '22637S',
 '21989J',
 '22027K',
 '22273M',
 '20974J',
 '22079R',
 '23188L',
 '23241W',
 '23581R',
 '22151L',
 '82551H',
 '21877C',
 '21876I',
 '22569R',
 '21122K',
 '23275I',
 '22161W',
 '21907O',
 '21916D',
 '21974Q',
 '84030EZ',
 '71053R',
 '21918L',
 '23351C',
 '23169O',
 '23236J',
 '22791E',
 '20973S',
 '23266U',
 '22192Y',
 '22296X',
 '71477B',
 '20979K',
 '22087E',
 '22851J',
 '23349J',
 '20677D',
 '23354R',
 '23320Z',
 '84032AK',
 '23265T',
 '23264K',
 '84997CQ',
 '23583L',
 '22418R',
 '23192L',
 '22654J',
 '22899Q',
 '15056BLH',
 '22963K',
 '23311K',
 '23353X',
 '23174D',
 '20675E',
 '85049AF',
 '23175H',
 '21328B',
 '22746G',
 '22333G',
 '84987W',
 '21868Y',
 '21240N',
 '22784C',
 '20679N',
 '22668V',
 '22174M',
 '22739W',
 '23503O',
 '22508O',
 '84949O',
 '21385E',
 '23247Z',
 '22158K',
 '22895J',
 '22723M',
 '23196E',
 '21498M',
 '84536AK',
 '23350Q',
 '22896Q',
 '21239K',
 '20969R',
 '82578R',
 '21494K',
 '20983Y',
 '21506J',
 '22605W',
 '23234A',
 '22980U',
 '21874B',
 '22294U',
 '22970T',
 '21242V',
 '22845W',
 '21429E',
 '21340G',
 '23332P',
 '23254E',
 '22431K',
 '22693N',
 '21901T',
 '23165S',
 '22768C',
 '22110N',
 '22941E',
 '21078I',
 '72741B',
 '23126J',
 '23323K',
 '22227K',
 '22271R',
 '22131I',
 '22378H',
 '21756Q',
 '23109C',
 '22380N',
 '21380E',
 '22505F',
 '85014AL',
 '22840S',
 '22712N',
 '20992N',
 '22751U',
 '22274N',
 '20754G',
 '22361C',
 '22846O',
 '22327P',
 '48188P',
 '22208X',
 '23082N',
 '21899D',
 '23172Q',
 '21703M',
 '21329X',
 '22991T',
 '22596T',
 '22644U',
 '47559BK',
 '23191Z',
 '85199SA',
 '21810L',
 '22563R',
 '16237N',
 '23144I',
 '23076Z',
 '85048L',
 '23238P',
 '22721T',
 '21980L',
 '22179E',
 '22670P',
 '21098K',
 '85049GC',
 '22817Z',
 '84032BE',
 '22419N',
 '21259G',
 '22738Y',
 '23367M',
 '21116Z',
 '23110A',
 '23052I',
 '22109D',
 '23570W',
 '22690X',
 '21164D',
 '21179M',
 '22602D',
 '22301J',
 '22906G',
 '22904F',
 '23329B',
 '22798I',
 '21257P',
 '21041U',
 '84832I',
 '23306Z',
 '84406BH',
 '23534D',
 '22622G',
 '20981E',
 '23184T',
 '23078Y',
 '22716A',
 '22754C',
 '22819Q',
 '22916M',
 '21033B',
 '23112V',
 '23100G',
 '22064T',
 '20978G',
 '22978F',
 '20982C',
 '23147S',
 '21509I',
 '84050K',
 '22917U',
 '22156L',
 '22737B',
 '82567U',
 '22918F',
 '22919F',
 '84997AH',
 '21981M',
 '21108Z',
 '21428B',
 '23231J',
 '21811V',
 '23333X',
 '21327L',
 '23166P',
 '22920I',
 '22432D',
 '23399Y',
 '22772B',
 '23080Z',
 '22241L',
 '22816Q',
 '22435K',
 '22303W',
 '22494U',
 '21937S',
 '21411J',
 '22775S',
 '23571G',
 '20970L',
 '22653U',
 '23389U',
 '22571W',
 '84792X',
 '21507E',
 '23118T',
 '23012H',
 '22358N',
 '22815Y',
 '23582G',
 '21714L',
 '51014AW',
 '22170J',
 '22028K',
 '22065D',
 '23000P',
 '22534C',
 '21592F',
 '17003M',
 '23197D',
 '21787C',
 '23005J',
 '22089I',
 '23158A',
 '23395C',
 '23148U',
 '23393Y',
 '22088I',
 '20828M',
 '20961S',
 '22995T',
 '23232F',
 '22580V',
 '23146P',
 '22781B',
 '23283I',
 '22030B',
 '22971A',
 '22818I',
 '23368D',
 '23154P',
 '22329R',
 '21531U',
 '21539P',
 '16161PA',
 '85227H',
 '23177K',
 '21658U',
 '21124F',
 '23230A',
 '22841B',
 '23480U',
 '23330V',
 '22997O',
 '23089K',
 '21704M',
 '22855Q',
 '22767S',
 '23167J',
 '23229V',
 '21561W',
 '23310X',
 '22741O',
 '23083I',
 '22360Q',
 '48111G',
 '23302F',
 '84510AH',
 '35961N',
 '22747N',
 '22755K',
 '22437B',
 '22441B',
 '21381P',
 '22965Z',
 '35471DY',
 '23397R',
 '21786G',
 '22897R',
 '21746N',
 '22796M',
 '22398K',
 '22530D',
 '47593BL',
 '20682A',
 '22295V',
 '21890Y',
 '21497K',
 '22076Q',
 '85049CP',
 '23382B',
 '20963G',
 '23176Z',
 '20668K',
 '22634D',
 '22614B',
 '21967J',
 '22921W',
 '84969T',
 '84509AK',
 '21880B',
 '22115J',
 '22335Z',
 '21955E',
 '22669U',
 '20751D',
 '22943F',
 '21519A',
 '84596GP',
 '22626Q',
 '22491V',
 '22676W',
 '22972W',
 '22302N',
 '22567D',
 '22636Z',
 '22672E',
 '23396G',
 '23352S',
 '22814E',
 '23127K',
 '23013O',
 '22713C',
 '22736S',
 '22222C',
 '22994B',
 '22366J',
 '21745D',
 '22550H',
 '23292K',
 '23504V',
 '23159Q',
 '21500P',
 '21313C',
 '22968N',
 '21243M',
 '22548G',
 '22433B',
 '22743K',
 '22493I',
 '21917S',
 '22677N',
 '20996R',
 '22024W',
 '23535V',
 '21390P',
 '22623L',
 '75049LA',
 '23497Q',
 '22422Q',
 '22792D',
 '23101Y',
 '22562M',
 '22574T',
 '23286O',
 '22800V',
 '48129Y',
 '21716W',
 '21991R',
 '22839T',
 '47504KA',
 '21623S',
 '22300C',
 '85132CX',
 '22426J',
 '21499T',
 '22999A',
 '21878P',
 '22593E',
 '22377W',
 '22957K',
 '22982D',
 '22926R',
 '21090G',
 '10133M',
 '21700U',
 '23210F',
 '21832G',
 '23494O',
 '23014Q',
 '22430D',
 '22801J',
 '23163U',
 '21984W',
 '21715T',
 '23290W',
 '22421F',
 '23050V',
 '85184CK',
 '23004D',
 '22610S',
 '21718N',
 '22649G',
 '22485Z',
 '22374J',
 '22055T',
 '23035A',
 '23569K',
 '22753H',
 '22187R',
 '23434Y',
 '22674G',
 '20674R',
 '23091E',
 '23287L',
 '22714G',
 '21452L',
 '23239Z',
 '22950F',
 '22925Q',
 '22813K',
 '21922A',
 '23242A',
 '20733F',
 '22075W',
 '21902W',
 '22628U',
 '22733V',
 '22601T',
 '22892Z',
 '21012K',
 '22465K',
 '22466O',
 '23312N',
 '23212C',
 '23215I',
 '21988M',
 '23194R',
 '23156J',
 '22211Y',
 '72351BE',
 '22594A',
 '20977U',
 '22439F',
 '23426G',
 '22207L',
 '22573R',
 '22945X',
 '85131DI',
 '48173CT',
 '22078R',
 '23237P',
 '21244H',
 '21774C',
 '22974E',
 '22812G',
 '22635R',
 '22773H',
 '21068Y',
 '22531M',
 '22120W',
 '37446S',
 '20829J',
 '37448K',
 '23130I',
 '22188M',
 '21620I',
 '22072Y',
 '22357L',
 '23365N',
 '22564D',
 '22074K',
 '22837N',
 '22584Q',
 '23291F',
 '23049U',
 '22809N',
 '22956D',
 '23032G',
 '48116K',
 '23371H',
 '22338I',
 '23366F',
 '22732E',
 '22148Z',
 '22210R',
 '21803X',
 '85049HI',
 '22807L',
 '22891F',
 '22600F',
 '23190S',
 '22805C',
 '23002D',
 '21864G',
 '21258H',
 '22938X',
 '21508L',
 '23285I',
 '22460J',
 '22915G',
 '21802W',
 '22364D',
 '22045U',
 '23288S',
 '51014CF',
 '23289K',
 '22094G',
 '22597M',
 '22603Q',
 '22842H',
 '23348D',
 '22080D',
 '21866D',
 '21158R',
 '22838C',
 '20984B',
 '22990X',
 '22675S',
 '84031AQ',
 '22581L',
 '22436B',
 '21986A',
 '23394D',
 '21870X',
 '46000SJ',
 '22744X',
 '22758C',
 '22091C',
 '22154A',
 '21619X',
 '23157X',
 '21903Y',
 '21625R',
 '22794M',
 '23378J',
 '21577X',
 '23162V',
 '22135T',
 '21713G',
 '22572W',
 '22704P',
 '21829T',
 '84828A',
 '22331U',
 '21135E',
 '23053K',
 '21527P',
 '21260A',
 '22098N',
 '16235A',
 '21773E',
 '22185B',
 '22483A',
 '23404U',
 '23102L',
 '21818Q',
 '22365S',
 '85040AS',
 '22315K',
 '72807CP',
 '23390M',
 '22209G',
 '37370Z',
 '22186K',
 '21584L',
 '21115Q',
 '10135P',
 '22678R',
 '21084K',
 '23297N',
 '22107A',
 '22244X',
 '47503AN',
 '84580O',
 '85174H',
 '23376B',
 '22278T',
 '22576Y',
 '21906V',
 '22134X',
 '21844I',
 '84912BC',
 '22975L',
 '21224S',
 '22249Z',
 '23193C',
 '22890C',
 '22686P',
 '22059M',
 '23346H',
 '23007A',
 '22375U',
 '22927Q',
 '22696M',
 '21987U',
 '22930X',
 '84971SZ',
 '21071P',
 '72760BJ',
 '85034CF',
 '22425V',
 '23096J',
 '37449B',
 '23211J',
 ...]

In [137]:
test_df = spark.createDataFrame(a)

TypeError: Can not infer schema for type: <class 'str'>

## 4. Make New Data frame